# Mac OS X
*.DS_Store

# Xcode
*/build/*
build
*.build
*/Debug/*
profile
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
xcuserdata/

# Autotools

*.cache
*.status
*~
*stamp-h1
*.log
config.h
confdefs.h

# CMake
*Cache.txt
CMakeFiles/*
