# build system files:
bk-make-pch linguist-vendored
configure linguist-generated
configure.scan linguist-generated
Makefile linguist-generated
Makefile.in linguist-generated

# m4 macro files:
aclocal.m4 linguist-generated
m4/libtool.m4 linguist-vendored
m4/lt*.m4 linguist-vendored
m4/ax_*.m4 linguist-vendored
m4/bakefile*.m4 linguist-vendored
m4/xorg-macros.m4 linguist-vendored

# for MacPorts:
*.Portfile linguist-language=tcl
